<div class="mx-auto container">
  <div>
    <a class="traditional-link" href={Routes.library_bookmark_index_url(@conn, :index)}>
      Bookmarks
    </a>
  </div>

  <div>
    <a class="traditional-link" href={Routes.archive_shiori_index_url(@conn, :index)}>
      Archives (Needs Shiori Backend)
    </a>
  </div>
</div>
